html,
body {
  margin: 0px;
}

.first-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 36px;
  background: #350a4e;
  transition: all 400ms ease;
  text-align: center;
}

.fn-left {
  margin-left: 150px;
  display: flex;
}

.fn-left:nth-child(1) {
  color: white;
}

.icons {
  color: white;
  fill: white;
  display: flex;
  justify-content: space-between;
  margin-left: 65px;
}

.icons span {
  width: 30px;
}

.icons span:hover {
  color: rgb(255, 157, 0);
  cursor: pointer;
}

.fn-right {
  color: white;
  margin-right: 150px;
  font-size: small;
}

.fn-right span :hover {
  color: rgb(255, 157, 0);
  cursor: pointer;
}
